root = true

[*]
end_of_line = lf
insert_final_newline = unset
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{py,vim,lua}]
indent_size = 4

[*.md]
max_line_length = unset


# ignores
[*.{diff,patch,age}]
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
charset = unset
indent_style = unset
indent_size = unset


# special treatments
[pylintrc]
indent_size = unset
